.features {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5rem 0 5rem 0;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.container {
  scroll-behavior: smooth;
  overflow-y: scroll;
}