.contactSection {
  display: flex;
  width: 100%;
  padding: 5rem 0 5rem 0;
}

input{
  border: 0;
  margin:1rem;
  padding: 1rem;
  border-bottom: solid rgb(176, 176, 176);
  outline: none;
  width: 100%;
  font-size: 1rem;
}

input:focus{
  border-bottom: solid rgb(0, 109, 47);
}

button{
  margin: 1rem;
}

@media screen and (max-width: 996px) {
  input{
    width: 80%;
  }
}

.containerView {
  scroll-behavior: smooth;
  overflow-y: scroll;
}